In [7]:
#task 1.2 :
"""divisible by 7,
not a multiple of 5,
between 2000 and 3200 (both included). 
printed in a comma-separated sequence on a single line.
"""
a = list(range(2000,3201))
m=[]
for i in a:
    if i % 7==0:
        if i %5 != 0:
            m.append(i)
print(list(m))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [39]:
#task 1.3
"""accept the user's first and last name
print in the the reverse order with a space between first name and last name
"""
a = input("Enter first name: ")
b = input("Enter last name: ")
print(b + " " + a)

Enter first name: Abhijeet
Enter last name: Kesarkar
Kesarkar Abhijeet

In [38]:
#task 1.4
# V=4/3 * Ï€ * r**3

diameter = 12
Pi = 3.1415
r = diameter /2
V = 4/3 * Pi * r**3
print("Volume of a sphere: ", V)

Volume of a sphere:  904.752

In [40]:
#Task 2.1
"""Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.
"""
a = input("Enter sequence of comma-separated numbers: ")
b = a.split(",")
b

Enter sequence of comma-separated numbers: 2,4,2,5

['2', '4', '2', '5']

In [49]:
#task 2.2
for i in range(0,5):
    for j in range(0,i):
        print("*", end="")
    print()
for i in range(5,0,-1):
    for j in range(0,i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*

In [52]:
#task2.3
"""Write a Python program to reverse a word after accepting the input from the user.
"""
a = input("Enter a string: ")
b = a[::-1]
b

Enter a string: AcdFvB

'BvFdcA'

In [63]:
#task 2.4
#Print in a specified Format
print("WE, THE PEOPLE OF INDIA, \n\thaving solemnly resolved to constitute India into a SOVEREIGN, \n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens